.spaceRow{
    margin-bottom: 50px;
}

.descriptionRow{
    height: 70px;
}

.context{
    height: 200px;
}

.imgContainer{
    height: 300px;
    width: 300px;
}

.imgUserContainer{
    height: 400px;
    width: 400px;
}

.paragraph{
    font-size: 14px;
}